.selected_account_bubble{
    position: relative;
    display: flex;
    align-items: center;
    top: 0.8px;
}

.selected_account_bubble__short_addr{
    font-size: 14px;
    background: linear-gradient(135deg, #eeebf6, #eff2f6);
  box-shadow: 0 5px 20px -10px #742cb2;
    padding: 12px 20px 12px 12px;
    margin-right: 4px;
    border-radius: 20px 0px 0px 20px;
    font-weight: 500;
}

.selected_account_bubble__name{
    font-weight: 500;
    font-size: 16px;
    color: white;
    background: linear-gradient(135deg, #ae27a5, #742cb2);
  box-shadow: 0 5px 20px -10px #742cb2;
    padding: 12px 20px 12px 20px;
    margin-right: 4px;
    margin-left: -20px;
    border-radius: 50px;
}